<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Adder.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4873CB921E274B9E00F008EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4873CBAB1E274B9F00F008EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4873CBB61E274B9F00F008EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
