<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>autoLayout.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>488FA19B1E279FED007DDA5C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>488FA1B41E279FED007DDA5C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>488FA1BF1E279FEE007DDA5C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
